

<h1>You fell in love with: <%= thingvar %> </h1>
<% if(thingvar.toLowerCase() === "sam"){ %>
    <p>Good Choice!! She's the besttt!!!</p>
<% } else{ %>
 <p>Bad Choice!!!</p>
<% } %>
<p>P.S this is coming from love.ejs file!</p>